<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>83</integer>
		<key>y</key>
		<integer>375</integer>
	</dict>
	<key>1</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1123</integer>
		<key>y</key>
		<integer>206</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1857</integer>
		<key>y</key>
		<integer>698</integer>
	</dict>
	<key>11</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1518</integer>
		<key>y</key>
		<integer>592</integer>
	</dict>
	<key>12</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>507</integer>
		<key>y</key>
		<integer>519</integer>
	</dict>
	<key>13</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>688</integer>
		<key>y</key>
		<integer>591</integer>
	</dict>
	<key>14</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1023</integer>
		<key>y</key>
		<integer>591</integer>
	</dict>
	<key>15</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>892</integer>
		<key>y</key>
		<integer>694</integer>
	</dict>
	<key>16</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>892</integer>
		<key>y</key>
		<integer>693</integer>
	</dict>
	<key>17</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1020</integer>
		<key>y</key>
		<integer>694</integer>
	</dict>
	<key>18</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1148</integer>
		<key>y</key>
		<integer>801</integer>
	</dict>
	<key>19</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1524</integer>
		<key>y</key>
		<integer>839</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1494</integer>
		<key>y</key>
		<integer>101</integer>
	</dict>
	<key>20</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>805</integer>
		<key>y</key>
		<integer>379</integer>
	</dict>
	<key>21</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>940</integer>
		<key>y</key>
		<integer>384</integer>
	</dict>
	<key>22</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1096</integer>
		<key>y</key>
		<integer>441</integer>
	</dict>
	<key>23</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1154</integer>
		<key>y</key>
		<integer>442</integer>
	</dict>
	<key>24</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1519</integer>
		<key>y</key>
		<integer>376</integer>
	</dict>
	<key>25</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1728</integer>
		<key>y</key>
		<integer>441</integer>
	</dict>
	<key>26</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1791</integer>
		<key>y</key>
		<integer>440</integer>
	</dict>
	<key>27</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1939</integer>
		<key>y</key>
		<integer>382</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1758</integer>
		<key>y</key>
		<integer>207</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>2057</integer>
		<key>y</key>
		<integer>207</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>2470</integer>
		<key>y</key>
		<integer>373</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1986</integer>
		<key>y</key>
		<integer>592</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>2193</integer>
		<key>y</key>
		<integer>591</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1857</integer>
		<key>y</key>
		<integer>700</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>height</key>
		<string>0</string>
		<key>width</key>
		<string>0</string>
		<key>x</key>
		<integer>1987</integer>
		<key>y</key>
		<integer>698</integer>
	</dict>
</dict>
</plist>
