<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>tmxName</key>
		<string>firstStage.tmx</string>
		<key>plistName</key>
		<string>firstStage.plist</string>
	</dict>
	<key>2</key>
	<dict>
		<key>tmxName</key>
		<string>secondStage.tmx</string>
		<key>plistName</key>
		<string>secondStage.plist</string>
	</dict>
	<key>3</key>
	<dict>
		<key>tmxName</key>
		<string>secondStage.tmx</string>
		<key>plistName</key>
		<string>secondStage.plist</string>
	</dict>
	<key>4</key>
	<dict>
		<key>tmxName</key>
		<string>fourthStage.tmx</string>
		<key>plistName</key>
		<string></string>
	</dict>
	<key>5</key>
	<dict>
		<key>tmxName</key>
		<string>fifth.tmx</string>
		<key>plistName</key>
		<string>fivestage471.plist</string>
	</dict>
	<key>6</key>
	<dict>
		<key>tmxName</key>
		<string>sixStage.tmx</string>
		<key>plistName</key>
		<string>sixStage</string>
	</dict>
	<key>7</key>
	<dict>
		<key>tmxName</key>
		<string>sevenStage.tmx</string>
		<key>plistName</key>
		<string>sevenStage.plist</string>
	</dict>
	<key>8</key>
	<dict>
		<key>tmxName</key>
		<string></string>
		<key>plistName</key>
		<string></string>
	</dict>
	<key>9</key>
	<dict>
		<key>tmxName</key>
		<string></string>
		<key>plistName</key>
		<string></string>
	</dict>
	<key>10</key>
	<dict>
		<key>tmxName</key>
		<string></string>
		<key>plistName</key>
		<string></string>
	</dict>
	<key>11</key>
	<dict>
		<key>tmxName</key>
		<string></string>
		<key>plistName</key>
		<string></string>
	</dict>
	<key>12</key>
	<dict>
		<key>tmxName</key>
		<string></string>
		<key>plistName</key>
		<string></string>
	</dict>
	<key>13</key>
	<dict>
		<key>tmxName</key>
		<string></string>
		<key>plistName</key>
		<string></string>
	</dict>
	<key>14</key>
	<dict>
		<key>tmxName</key>
		<string></string>
		<key>plistName</key>
		<string></string>
	</dict>
	<key>15</key>
	<dict>
		<key>tmxName</key>
		<string></string>
		<key>plistName</key>
		<string></string>
	</dict>
</dict>
</plist>
